{% extends "djangoapp/base.html" %}

{% block title %} Reviews of {{ dealer.full_name }} {% endblock %}
{% block add_review %}
<a class="btn btn-link text-decoration-none" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>
{% endblock %}

{% block content %}
<h1>Reviews of {{ dealer.full_name }}</h1>
    {% if reviews_list %}
    <div class="card-columns mt-5">
        {% for review in reviews_list %}
            <div class="card">
            <img class="card-img-left mt-3 ml-3" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" style="width: 20%; height: 20%" />
            <div class="card-body">
                <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                <h6 class="card-title">{{ review.car_year }}</h6>
                <p class="card-text">{{ review.review }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    

    {% else %}
        <p class="mt-5">No reviews are available.</p>
    {% endif %}

{% endblock %}