{% extends "djangoapp/base.html" %}

{% block title %} Reviews of {{ dealership.short_name }} {% endblock %}


{% block content %}
<h1>Reviews of {{ dealership.short_name }}</h1>
    {% if reviews_list %}
    <table data-toggle="table" data-search="true" data-pagination="true" class="table table-hover table-bordered table-sm mt-5">
        <thead>
          <tr>
            <th scope="col">Reviwer Name</th>
            <th scope="col">Car Maker</th>
            <th scope="col">Car Model</th>
            <th scope="col">Year</th>
            <th scope="col">Purchase</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Sentiment</th>
            <th scope="col">Review</th>
          </tr>
        </thead>
        <tbody>

        {% for review in reviews_list %}
        <tr>
            <td>{{ review.name }}</td>
            <td>{{ review.car_make }}</td>
            <td>{{ review.car_model }}</td>
            <td>{{ review.car_year }}</td>
            <td>{{ review.purchase }}</td>
            <td>{{ review.purchase_date }}</td>
            <td>{{ review.sentiment }}</td>
            <td>{{ review.review }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No reviews are available.</p>
    {% endif %}

{% endblock %}