{% extends "djangoapp/base.html" %}

{% block title %}Dealership Review{% endblock %}


{% block content %}

<h1>Dealership Review</h1>
    {% if dealerships_list %}
    <table data-toggle="table" id="table" data-search="true" data-pagination="true" class="table table-hover table-bordered table-sm mt-5" data-filter-control="true">
        <thead>
          <tr>
            <th scope="col" data-field="id">ID</th>
            <th scope="col" data-field="dealer_name">Dealer Name</th>
            <th scope="col" data-field="city">City</th>
            <th scope="col" data-field="address">Address</th>
            <th scope="col" data-field="zip">Zip</th>
            <th scope="col" data-field="state" data-filter-control="select">State</th>
          </tr>
        </thead>
        <tbody>

        {% for dealer in dealerships_list %}
        <tr>
            <td>{{ dealer.id }}</td>
            <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
            <td>{{ dealer.city }}</td>
            <td>{{ dealer.address }} hr</td>
            <td>{{ dealer.zip }}</td>
            <td>{{ dealer.st }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
    </script>

    {% else %}
        <p>No dealers are available.</p>
    {% endif %}

{% endblock %}
